// Colors

$white: #fff;
$black: #000;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;

// $main-font: "Fira Sans", sans-serif; ;

$main-font: "Montserrat", sans-serif;
$heading-font: "Staatliches", cursive;
